#pricing {
  min-height: 500px;
}

#pricing h1 {
  margin-bottom: 40px;
}

#pricing .pricing-row {
}


#pricing .pricing-row .price-box {
  width: 80%;
  margin: 0 auto;
  padding:  30px 0 40px 0;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
}

#pricing .pricing-row .col-sm-4 {
}

#pricing .pricing-row span  {
  display: block;
  font-size: 20px;
}

#pricing .pricing-row span.type {
  font-weight: bold;

}


#pricing .pricing-row span.terms,
#pricing .pricing-row span.amount,
#pricing .pricing-row span.interest {
  margin:5px 0;
}

#pricing .pricing-row span.price {
  font-size: 60px;
  font-weight: 500;
  margin-top: -5px;
  color: #06bbb9;
  text-shadow: 1px 1px 0px black;
  margin-bottom: 10px;
}
