#referral .referral-row .col-md-6 input {
  width: 30%;
  display: inline;
}
#referral h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 50px;
}
#referral h4 {
  width: 70%;
  opacity: .8;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 auto;
  margin-bottom: 20px;
}
#referral input {
  text-indent: 25px;
  font-weight: 600;
  width: 80%;
  margin: 12px 0;
  height: 60px;
  background: #f0f0f0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 17px;
}

.half-width-holder input {
  /*width: 100%!important;*/
}
input.half-width {
  width: 39%!important;
  margin: 0 10px!important;
  margin-bottom: 15px!important;
  display: inline!important
}

#referral .main-cta {
  margin-top: 60px;
}
.ion-ios-heart {
  color: #06bbb9;
  font-size: 70px;
  margin-left: 10px;
}
.referral-bonus {
  font-size: 25px;
}


@media (max-width: 991px) {
  input.half-width {
    width: 38.5%!important;
  }
}


@media (max-width: 600px) {
#referral h4 {
  width: 85%;
  margin: 0 auto;
  line-height: 2;
  padding-bottom: 30px;
 }

 input.half-width {
   width: 38%!important;
 }
}


@media (max-width: 441px) {
  input.half-width {
    width: 37%!important;
  }
