/*Brand Color::  #06bbb9   */

html, body {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open sans', arial;
  overflow-x: hidden!important;
  width: 100%;
}
section {
  padding: 70px 0;
}
.ziero-blue {
  color: #06bbb9;
}
#hero {
  /*background: rgba(231, 213, 198, .7);*/
  background: url("../imgs/bk-img.jpg");
  /*background: #f0f0f0;*/
  /*background-position: -120px -300px;*/
  /*background-position: -80px center;*/
  /*background-position: center -140px;
  background-size: 120%;*/
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  /*padding: 100px 0 100px;*/
  height: 800px;
  /*padding-bottom: 320px;*/
  position: relative;
  overflow: hidden;
}
#hero:before {
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: .025;
  background-image: -webkit-linear-gradient(bottom right, transparent, #06bbb9);
  background-image: -ms-linear-gradient(bottom left, transparent, #06bbb9);
  background-image: linear-gradient(to top to right, transparent, #06bbb9);
  , #06bbb9);
  background-color: white;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -0;
}
#hero h1 {
  max-width: 550px;
  font-weight: 600;
  margin: 0 auto;
  line-height: 1.2;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #333;
  text-shadow: .5px 1px 0px rgba(0, 0, 0, .8);
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
#hero h6 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 40px auto 45px auto;
  color: #333;
  /*text-shadow: 1px 1px .5px rgba(0, 0, 0, .8);*/
  width: 80%;
  line-height: 1.4;
}
#hero .main-cta.invert {
  color: #06bbb9;
  color: white;
  border-color: #fff;
  /*color: #fff;
  border-color: #fff;*/
}
#hero h1 span {
  color: #06bbb9;
  /*text-shadow: 1px 1px 1px #06bbb9;*/
}
img.hero-girl {
  z-index: 1;
  position: absolute;
  margin-left: -120px;
  /*top: -9%;*/
  width: 585px;
  bottom: -70px;
}
img.hero-img {
  width: 1485px;
  position: absolute;
  left: -200px;
  top: -13%;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 0;
  opacity: .9;
}
.hero-copy-row {
  margin-top: 50px;
  /*background: red;*/
  z-index: 10000;
  /*position: absolute;*/
  color: #ccc!important;
}
.hero-copy-row h1, .hero-copy-row h6 {
  color: #fff!important;
}
.main-cta-row {
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
a.main-cta {
  background: #06bbb9;
  display: inline-block;
  padding: 20px 0;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}
a.main-cta.invert, input.main-cta.invert {
  color: #06bbb9;
  /*background: rgba(0,0,0,.25);*/
  background: transparent;
}
input.main-cta.invert {
  display: inline-block;
  padding: 20px 0;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 600;
  border: 2px solid #fff;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
  margin-top: 40px;
}
a.main-cta:hover {
  text-decoration: none;
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}
#referral input.main-cta {
  background: #06bbb9;
  display: inline-block;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
  border-radius: 0;
  text-indent: 0;
}
#need-help input.main-cta {
  background: #06bbb9;
  display: inline-block;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  border-radius: 0;
  transition: .5s;
  z-index: 90;
  text-indent: 0;
}
#value-props {
  margin-top: 0;
}
#value-props h2 {
  font-weight: 500;
}
#value-props .col-sm-4 img {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#value-props .row .col-sm-4 {
  margin: 0 auto;
  text-align: center;
}
#value-props .row .align-right {
  text-align: right;
}
#value-props .row p {
  font-size: 18px;
  width: 90%;
}
#value-props .row a {
  font-weight: 600;
  font-size: 18px;
  display: block;
  color: #06bbb9;
}
#value-props-2 .value-props-2-row h1 {
  margin-bottom: 70px;
  font-weight: 400;
  text-transform: uppercase;
}
#value-props-2 .value-props-2-row .col-sm-4 {
  height: 300px;
}
#value-props-2 .value-props-2-img-holder {
  display: block;
  height: 160px;
}
#value-props-2 .value-props-2-img-holder .hands-img {
  height: 120px;
  margin-top: 20px;
}
#value-props-2 p {
  padding-top: 20px;
  height: 120px;
  width: 85%;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 17px;
}
#value-props-2 p span {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
#value-props-2 {
  padding-bottom: 110px;
}
#value-props-2 .col-sm-6 span {
  font-size: 13px;
  word-break: break-all;
}
#value-props .row span.circle {
  border: 9px solid rgba(0, 0, 0, 0.125);
  margin: 0 auto!important;
  text-align: center!important;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -20px!important;
  display: inline-block;
  height: 270px;
  width: 270px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}
#value-props .row span.circle .piggybank {
  width: 170px;
  margin-top: 20px;
}
#value-props .row span.circle .trio-img {
  margin-top: -5px;
  width: 200px;
}
#value-props .row span.circle .doctors-img {
  margin-top: 15px;
  width: 180px;
}
#value-props .row span.circle .shipping-img {
  margin-top: 40px;
  width: 240px;
  margin-left: -20px;
}
#value-props .row span.circle .weights-img {
  margin-top: 25px;
  margin-left: -10px;
  width: 180px;
}
#value-props .container .row {
  margin: 70px 0;
}
#wellness {
  background: url('../imgs/money-bkgd.png');
  background-position: center;
  background-size: 101% 100%;
  min-height: 400px!important;
  padding-bottom: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}
#wellness .wellness-row span.white-box {
  background: white;
  display: inline-block;
  padding: 30px;
  min-height: 170px;
  position: relative;
  width: 180px;
  text-align: center;
  border-radius: 8px;
}
#wellness .wellness-row h6 {
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  font-weight: 400;
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
#wellness .wellness-row div img {
  width: 70px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#wellness .wellness-row div img.dollarsign-img {
  width: 40px;
}
.wellness-row .col-sm-4 {
  padding: 0;
  text-align: center;
  margin: 0!important;
}
#wellness span.hover-box-content {
  position: absolute;
  top: 30px!important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
#wellness .white-box:hover img, #wellness .white-box:hover h6 {
  /*display: none;*/
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}
#wellness .white-box:hover .hover-box-content {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: block;
}
#wellness .hover-box-content {
  display: none;
}
#wellness h1 {
  color: white;
  margin-bottom: 60px;
  display: none;
}
#wellness .wellness-row {
  display: none;
}
#wellness h1.active, #wellness .wellness-row.active {
  display: block;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}
#contact,
#featured-in {
  background: #06bbb9;
  height: 575px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
#featured-in {
  height: auto;
  /*padding: 80px 0;*/
  margin-top: 0;
  background: #f3f3f3;
  height: 400px;
  overflow: hidden;
}
#featured-in h1 {
  color: #353535;
}
#featured-in img.reuters {
  margin-top: 30px;
  width: 230px;
}
#featured-in img.yahoo {
  margin-top: 0;
  width: 230px;
}

#featured-in .separator {
  width: 75%;
  margin: 20px auto 30px auto!important;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 50px;
}
#featured-in .featured-in-imgs {
  width: 180px;
  height: auto;
}
#dashboard-carousel {
  overflow-x: hidden;
}

#dashboard-carousel .separator {
  width: 75%;
  margin: 25px auto!important;
}
#dashboard-carousel ul.nav.nav-tabs {
  float: none!important;
  margin: 0 auto!important;
  text-align: center;
}
#dashboard-carousel .nav-tabs {
  border-bottom: 0;
  padding: 15px 0;
}
#dashboard-carousel .nav-tabs>li {
  float: none!important;
  display: inline-block;
}
#dashboard-carousel .nav-tabs>li.active > a {
  /*background: red;*/
  display: inline-block;
  width: 240px;
  background: #06bbb9;
  color: white;
  -webkit-transform: scale(1.275);
  transform: scale(1.275);
  z-index: 10;
  border-color: transparent;
  /*border-top-right-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
}
#dashboard-carousel .nav-tabs >li > a {
  background: #f3f3f3;
  color: rgba(175, 175, 175, 1);
  border-radius: 40px;
  font-weight: 600;
  display: inline-block;
  width: 240px;
  border-radius: 40px;
  z-index: 0;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid rgba(211, 211, 211, 1);
}
#dashboard-carousel .carousel-caption {
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
#dashboard-carousel .item {
  width: 100%;
  margin: 0 auto;
}
#dashboard-carousel .item.next {
  background: white;
  opacity: 0!important;
  display: block!important;
}
#dashboard-carousel .item.left, #dashboard-carousel .item.right {
  opacity: 0!important;
  display: none!important;
}
#dashboard-carousel .item.active {
  display: block!important;
  -webkit-animation: fadeIn 1s!important;
  animation: fadeIn 1s!important;
}
#dashboard-carousel .item.active.left, #dashboard-carousel .item.active.right {
  -webkit-transition: .95s!important;
  transition: .95s!important;
  opacity: 0!important;
  /*display: none!important;*/
  height: 100%!important;
}
#dashboard-carousel .item.active.right {}
#dashboard-carousel .item.active.next {
  -webktit-animation: fadeInDownBig .3s!important;
  animation: fadeInDownBig .3s!important;
}
#dashboard-carousel .carousel-inner {
  background: rgba(255, 0, 0, .0);
  max-width: 800px;
  overflow: hidden;
  height: auto;
  margin: 30px auto 0 auto;
  text-align: center;
}
#dashboard-carousel .carousel-control-row {
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 20;
  bottom: 0;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
#dashboard-carousel .carousel-control-row a.right, #dashboard-carousel .carousel-control-row a.left {
  font-size: 50px;
  position: absolute;
  padding: 50px 40px;
  -webkit-transition: .6s;
  transition: .6s;
  opacity: .7;
}
#dashboard-carousel .carousel-caption h4 {
  padding-top: 12px;
  font-weight: 600;
}
#dashboard-carousel .carousel-control-row .left {
  left: 0;
  display: inline-block;
}
#dashboard-carousel .carousel-control-row .right {
  right: 0;
}
.fadeOutLeft {
  -webkit-animation: fadeOutLeft 1!important;
  animation: fadeOutLeft 1s!important;
}
#dashboard-carousel .item img {
  /*padding: 5px 2px;*/
  margin: 0 auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid #f3f3f3;
}
#dashboard-carousel p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  opacity: .7;
  margin-bottom: 20px;
  font-weight: 600;
}
#dashboard-carousel .carousel-caption p {
  font-size: 15px;
  opacity: 1;
}
#nonprofit-trigger {
  padding-bottom: 0;
}

/*#contact:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.5;
  background-image: -webkit-linear-gradient(top left, red, #06bbb9);
  background-image: -ms-linear-gradient(bottom left, rgba(20,20,255, .5),#06bbb9);
  background-image: linear-gradient(to top to right, rgba(20,20,255, .5),#06bbb9);
  background-color: black;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}*/

#contact i {
  display: inline-block;
}
#contact h2 {
  color: white;
}
#contact .contact-row input {
  text-indent: 60px;
  width: 80%;
  margin: 10px 0;
  height: 60px;
  border-radius: 6px;
  border: 0;
  font-size: 17px;
  -webkit-transition: 1s;
  transition: 1s;
}
#contact .contact-row .col-sm-6 {
  position: relative;
}
#contact .contact-row .col-sm-6 i {
  position: absolute;
  top: 12px;
  bottom: 0;
  font-size: 35px;
  margin-left: 16px;
}
#contact .contact-row .col-sm-6 {
  overflow: hidden;
}
.tos-row {
  padding: 15px 0;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  line-height: 1.7;
}
.tos-row a {
  color: #06bbb9!important;
  font-weight: bold!important;
}
.main-cta-row div:first-child {
  text-align: right;
}
#contact a {
  color: white;
  margin-top: 40px;
  border-color: white;
}
#contact .separator {
  width: 75%;
  margin: 20px auto!important;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}
#nonprofit {
  padding: 20px 0;
  background: #f3f3f3;
  color: #353535;
}
#nonprofit h4 {
  font-weight: 400;
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  line-height: 1.6;
}
#faq {
  padding-bottom: 90px;
  min-height: 340px;
}
#faq h2, #faq p {
  width: 100%;
  text-align: left;
}
#faq p {
  font-size: 18px;
  margin: 25px 0;
}
#faq i.ion-ios-help-outline {
  font-size: 150px;
  text-align: center;
  display: block;
  height: 220px;
  background: white;
  z-index: 90;
  position: absolute;
  color: #06bbb9;
  opacity: .35;
  top: -30px;
  right: 0;
  padding-bottom: 0!important;
  left: 0;
}
.question-holder {
  padding-top: 0!important;
  margin-top: 0!important;
  position: relative;
}
#footer {
  background: black;
  color: white;
  padding: 30px 0;
  padding-bottom: 20px;
}
#footer .address {
  margin-left: 20px;
  display: inline-block;
}
.address-holder {
  /*background: white;*/
  margin-top: 3px;
}
#footer .footer-link-row p {
  padding-top: 10px;
  font-size: 17px;
  /*margin-bottom: 50px;*/
}
#footer .footer-link-row p.address {
  padding-top: 0;
  margin-bottom: -5px;
  margin-top: 0px;
}
#footer a.circle-link {
  color: white;
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 120px;
  border: 1px solid white;
  padding-top: 8px;
  margin-left: 35px;
}
#footer a.circle-link:hover {
  background: white;
  color: #000;
  cursor: default;
}
#footer a {
  color: white;
}
#footer a i {
  font-size: 30px;
  display: block;
  margin-top: -5px;
}
#footer .separator {
  opacity: .3;
  height: 1px;
  border-radius: 20px;
  margin: 20px auto!important;
  display: block;
  min-width: 840px;
  max-width: 980px!important;
  background: rgba(255, 255, 255, 1);
}
#footer .footer-link-row .col-md-3 {
  margin-left: 0;
  padding-left: 0;
}
.chevron-row {
  font-size: 25px;
  width: 85%;
  display: block;
  margin: 0 auto;
}
.chevron-row span {
  margin-top: -35px;
  z-index: 9000000;
  position: absolute;
  right: 0%;
}
span.strong {
  font-weight: 600;
}

/*.item.active {
  height: 230px;
}*/

#faq .carousel-inner {
  height: 200px;
}
.main-cta-row div:first-child {
  text-align: right;
}
.main-cta-row div:nth-child(2) {
  text-align: left;
}
.item .learn-more {
  text-indent: 15px;
  font-size: 19px;
  font-weight: 500;
}
.chevron-row i {
  font-size: 30px;
  display: inline-block;
  width: 20px;
  text-align: center;
}
.separator {
  background: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 15px auto!important;
  width: 100%;
  margin-left: -15px!important;
  height: 1px;
  border-radius: 120px;
}
.bk-img {
  background: url("../imgs/ziero-bk-blue.png");
  opacity: .6;
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.ziero-main-logo {
  margin-top: -8px;
  width: 190px;
}
.navbar-nav {
  padding-top: 15px;
  margin-bottom: -15px;
}
nav .navbar-toggle {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 24px;
}
.navbar-toggle .icon-bar {
  background: #ccc;
}
.navbar-nav .nav-list {
  padding-left: 0;
}
.nav-list li {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  font-weight: bold;
}
.nav-list a {
  display: inline-block;
  color: #353535;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.nav-list-row a.main-cta {
  width: 120px;
  padding: 10px 20px;
}
.navbar-nav a.main-cta.invert {
  font-weight: 600;
}
.social-media-row a {
  display: inline-block;
  color: white;
  width: 30px;
  margin: 10px;
  opacity: .6;
}
.social-media-row a:hover {
  opacity: 1;
  text-decoration: none;
}
.social-media-row a i {
  font-size: 20px!important;
}
#value-props a {
  margin-top: 20px;
  display: block;
}
.footer-content-row p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal .separator {
  width: 80%;
  margin: 15px auto!important;
}
.ion-ios-close-outline {
  position: absolute;
  top: 0;
  font-size: 50px;
  right: 0;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  opacity: .8;
}
iframe.video-container {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  top: 70px;
  right: 0;
  left: 0;
}
.loginmodal-container {
  padding: 40px 50px;
  max-width: 75%;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  position: relative;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 15px;
}
.loginmodal-container input[type=text], input[type=password] {
  -webkit-appearance: none;
  background: #fff;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: left;
  text-indent: 17.5px;
  width: 100%;
  margin: 10px auto!important;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 600;
}
.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
  background: #06bbb9;
  display: inline-block;
  padding: 15px 0;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}
#terms, #privacy, #rates {
  width: 90%;
  margin: 0 auto;
}
#rates img.licenses {
  width: 100px;
}
#rates h4 {
  font-weight: 500;
  line-height: 1.4;
  color: #707070;
}
#rates h3 {
  line-height: 1.4;
}
#rates p {
  font-size: 18px;
}
#rates .row {
  padding-bottom: 20px;
}
#rates a img {
  border: 2px solid #06bbb9;
}
#privacy h3 {
  margin-bottom: 30px;
}
#privacy h4 {
  margin-bottom: 10px;
}
#nonprofit-modal {
  /*display: none;*/
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px;
}
#nonprofit-modal h3 a {
  color: #06bbb9;
}
#nonprofit-modal a i {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 30px;
}
#nonprofit-modal h2 {
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}
#nonprofit-modal h3 {
  line-height: 1.5;
}
#nonprofit-modal h2, #nonprofit-modal h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #343434;
  width: 90%;
  margin: 0 auto;
}
#nonprofit-modal .row {
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  width: auto;
  margin: 0 auto;
  position: relative;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}
#nonprofit-modal .non-profit-icon {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: -57px;
  left: 0;
  right: 0;
  width: 110px;
  height: auto;
}
.loginmodal-submit:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 14px;
  text-align: center;
}
.login-help a {
  font-weight: 900;
  letter-spacing: normal;
  color: #06bbb9!important;
}
.login-help a:hover {
  cursor: pointer;
}
.modal i.ion-ios-close-empty {
  color: #353535;
}
.modal-dialog {
  position: absolute;
  right: 0;
  left: 0;
  width: 700px;
}
.modal-dialog h1 {
  margin-top: 0;
}
.remember-password-row {
  margin: 5px 0 12px 0;
  color: #353535;
  font-size: 16px;
  text-align: left;
  display: block;
}
.remember-password-row input {
  background: blue;
  padding: 20px;
  margin: 5px 5px;
}
.sm-font {
  font-size: 11px;
}
.sm-font span {
  word-wrap: break-word
}
.close-btn {
  font-size: 40px;
  position: absolute;
  top: -10px;
  right: 15px;
}
.close-btn:hover {
  cursor: pointer;
}
span.invalid {
  display: none;
}
span.invalid.active {
  display: block;
  font-size: 20px;
  text-align: center;
  color: red;
  font-weight: 500;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}
.half-input {
  width: 100%;
  display: inline!important;
}
.half-input input {
  width: 47.5%!important;
  display: inline-block;
}
.half-input input:first-child {
  margin-right: 7px!important;
}
.half-input input:last-child {
  margin-left: 7px!important;
}
.iframe-loan-calc {
  width: 100%;
}
#nonprofit-modal {
  display: none;
}
#nonprofit-modal.active {
  display: block;
  padding-top: 120px;
  -webkit-animation: bounceIn .5s;
  animation: bounceIn .5s;
}
#nonprofit-modal a {
  border-bottom: 1px solid white;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.submit-copy {
  display: none;
}
.submit-copy.active {
  padding-top: 20px;
}
.error-copy {
  display: none;
}
.error-copy.active {
  color: red;
}
.submit-copy.active, .error-copy.active {
  display: block;
  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
@media (max-width:1200px) {
  #hero {
    padding: 120px 0;
  }
  #hero .main-cta-row .col-md-6 {
    text-align: center;
    margin: 15px 0;
  }
  #footer a.circle-link {
    margin-left: 20px;
  }
  #footer .telephone-start {
    margin-left: 50px;
  }
  #footer .address {
    margin-left: 20px;
  }
  #dashboard-carousel .carousel-control-row .left {
    left: -70px;
  }
  #dashboard-carousel .carousel-control-row .right {
    right: -70px;
  }
}
@media (max-width:991px) {
  #hero {
    background-position: center;
  }
  img.hero-img {
    width: 1620px;
    left: -370px;
    top: -23%;
  }
  #hero h1 {
    max-width: 95%;
  }
  #hero h1, #hero h2 {
    text-align: center;
    margin: 0 auto;
  }
  #hero h1 {
    margin-top: 55px;
    width: 100%;
  }
  .hero-copy-row {}
  #faq {
    min-height: 550px;
  }
  #faq i.ion-ios-help-outline {
    position: relative;
  }
  #hero {
    padding: 50px 0 0!important;
  }
  #hero .main-cta-row .col-md-6 {
    text-align: center;
    margin: 15px 0;
  }
  #dashboard-carousel .carousel-control-row {
    display: none;
    top: -180px!important;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
  }
  #value-props .separator {
    width: 75%;
    margin: 20px auto!important;
  }
  #featured-in {
    height: auto;
  }
  #featured-in img {
    margin: 25px 0;
  }
  #value-props p {
    text-align: left;
  }
  #value-props .row {
    text-align: center;
  }
  #value-props .row span.circle {
    width: 240px;
    height: 240px;
    border: 6px solid rgba(0, 0, 0, 0.125);
  }
  #value-props h2 {
    margin-top: 35px;
  }
  #value-props .row p, #value-props .row a {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #value-props .row a {
    margin-top: 10px;
    font-weight: 500;
  }
  #value-props-2 img {
    width: 120px;
  }
  #value-props-2 .hands-img {
    width: 180px;
    height: auto;
    margin-top: -5px!important;
  }
  #value-props-2 p {
    width: 95%;
  }
  #wellness {
    display: none;
  }
  #contact {
    height: auto;
  }
  #contact .contact-row input {
    width: 95%;
  }
  #contact .contact-row .col-sm-6.text-right, #contact .contact-row .col-sm-6.text-left {
    margin: 0 auto;
    text-align: center;
  }
  #faq {
    padding-top: 0;
  }
  #faq i.ion-ios-help-outline {
    top: 0;
  }
  #footer .footer-link-row {
    text-align: center;
  }
  #footer .address {
    max-width: 250px;
    /*margin: 20px auto;*/
  }
  #footer a.circle-link {
    margin: 0 auto;
  }
  #footer .telephone-start {
    margin-left: 0;
  }
  #footer .footer-link-row p {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #footer .separator {
    min-width: 70%!important;
    margin: 0 auto;
  }
  #footer .footer-link-row p.address {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chevron-row {
    width: 80%;
  }
  .separator {
    margin-left: 0!important;
  }
  #rates .row .col-sm-2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  img.hero-img {
    top: 3%;
    bottom: 0;
    /*background: black;*/
    width: 1301px;
    position: absolute;
    left: -400px;
    opacity: .7;
  }
  #hero {
    /*background: rgba(0, 0, 0, 0.15);*/
  }
  #hero h1 {
    margin-top: 70px!important;
  }
  .navbar-nav li {
    display: block;
    margin: 30px auto;
    font-size: 30px;
  }
  .navbar-nav li a {
    font-size: 20px;
  }
  .navbar-nav li a.login-btn {
    width: 225px;
  }
  #value-props-2 .value-props-2-img-holder {
    margin-top: 70px;
  }
  #contact h2 {
    width: 90%;
    margin: 0 auto;
  }
  #contact .contact-row input {
    width: 90%;
  }
  .iframe-loan-calc {
    height: 620px;
    overflow-x: hidden;
    overflow-y: hidden!important;
  }
  div.loginmodal-container {
    margin: 0 auto!important;
    text-align: center!important;
    max-width: 95%;
    padding: 30px 20px;
    margin-top: 20px!important;
    overflow-y: scroll!important;
  }
  .modal-dialog {
    width: 100%!important;
  }
}
@media (max-width:601px) {
  .bk-filter {
    -webkit-transition: 1s;
    transition: 1s;
    /*background: rgba(0, 0, 0, 1)!important;*/
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    left: 0;
    bottom: 0;
  }
  #hero {
    background-position: -280px 0px !important;
  }
  #hero:before {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
    opacity: .35;
    background-image: -webkit-linear-gradient(bottom right, #000, #000);
    background-image: -ms-linear-gradient(bottom left, transparent, #06bbb9);
    background-image: linear-gradient(to top to right, transparent, #06bbb9);
    , #06bbb9);
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -0;
  }
  #dashboard-carousel .nav-tabs>li > a, #dashboard-carousel .nav-tabs>li.active > a {
    width: 35vw;
    padding: 5px 15px!important;
  }
  #dashboard-carousel {
    display: none;
  }
  #faq .carousel-inner {
    height: 230px;
  }
  #footer .separator {
    min-width: 30%!important;
  }
  .hero-copy-row {
    margin-top: 0!important;
  }
  .main-cta-row .invert {
    /*background: rgba(255, 255, 255, .2)!important;*/
  }
  #faq {
    min-height: 600px;
  }
  #hero h1 {
    margin-top: 15px;
  }
  div.modal-dialog {
    margin: 0 auto !important;
  }
  div.loginmodal-container {
    margin: 0 auto !important;
    margin-top: 10px !important;
  }
  /*h1 {
    font-size: 10vw!important;
  }*/
}
@media (max-width: 441px) {
  #hero h1 {
    font-size: 9vw!important;
    margin-top: 0!important;
  }
  img.ziero-main-logo {
    margin-top: 0px;
    width: 150px;
  }
  #hero {
    /*background: rgba(0, 0, 0, 0.15);*/
    z-index: 1;
  }
  .main-cta {
    width: 98%!important;
  }
  #contact .main-cta.invert {
    width: 81%!important;
  }
  img.hero-img {
    top: -50px;
    width: 1110px;
    left: -380px;
    z-index: -1;
    opacity: .25;
  }
  h1 {
    font-size: 9vw!important;
  }
  h2 {
    font-size: 8vw!important;
  }
}
@media (max-width: 400px) {
  .loginmodal-container input[type=text], input[type=password] {
    height: 40px;
    font-size: 14px;
    margin: 5px 0!important;
    text-indent: 10px;
  }
  .loginmodal-container input[type=submit] {
    padding: 10px 0;
    width: 98%;
    margin: 10px auto;
  }
  .loginmodal-container h1 {
    font-size: 18px!important;
    padding-top: 0;
    margin-top: -10px;
  }
}
@media (min-width:1200px) {
  img.hero-img {
    width: 1670px;
    left: -180px;
    top: -26%;
  }
  .hero-copy-row {
    margin-top: 150px;
  }
}
@media (min-width:1475px) {
  .bk-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*background: rgba(231, 213, 198, 1);*/
    z-index: -5;
  }
  img.hero-img {
    top: -32%;
    left: -8%;
    width: 1750px;
  }
}
@media (min-width: 2000px) {
  img.hero-img {
    top: -30%;
    left: 15%;
    width: 1550px;
  }
}
fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
