/*Brand Color::  #06bbb9   */

html, body {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open sans';
}
section {
  padding: 70px 0;
}
.ziero-blue {
  color: #06bbb9;
}
#hero {
  background: url("../imgs/hero-bk.png");
  /*background-position: -120px -300px;*/
  /*background-position: -80px center;*/
  background-position: center;
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  padding: 200px 0 100px;
  height: 600px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
#hero h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 41px;
  margin-bottom: 45px;
}
#hero h1 span {
  color: #06bbb9;
}
.main-cta-row div.col-sm-6 {}
a.main-cta {
  background: #06bbb9;
  display: inline-block;
  padding: 20px 0;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}
a.main-cta.invert {
  color: #06bbb9;
  background: transparent;
}
a.main-cta:hover {
  text-decoration: none;
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}
#value-props {
  margin-top: 0;
}
#value-props h2 {
  font-weight: 500;
}
#value-props .col-sm-4 img {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#value-props .row .col-sm-4 {
  margin: 0 auto;
  text-align: center;
}
#value-props .row .align-right {
  text-align: right;
}
#value-props .row p {
  font-size: 18px;
  width: 90%;
}
#value-props .row a {
  font-weight: 600;
  font-size: 18px;
  display: block;
  color: #06bbb9;
}
#value-props-2 .value-props-2-row h1 {
  margin-bottom: 70px;
}
#value-props-2 .value-props-2-row .col-sm-4 {
  height: 300px;
}
#value-props-2 .value-props-2-img-holder {
  display: block;
  height: 160px;
}
#value-props-2 .value-props-2-img-holder .hands-img {
  height: 120px;
  margin-top: 20px;
}
#value-props-2 p {
  padding-top: 20px;
  height: 120px;
  width: 85%;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 17px;
}
#value-props-2 p span {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
#value-props-2 {
  padding-bottom: 110px;
}
#value-props .row span.circle {
  border: 11px solid #f3f3f3;
  margin: 0 auto!important;
  text-align: center!important;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -20px!important;
  display: inline-block;
  height: 270px;
  width: 270px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}
#value-props .row span.circle .piggybank {
  width: 170px;
  margin-top: 20px;
}
#value-props .row span.circle .trio-img {
  margin-top: -5px;
  width: 200px;
}
#value-props .row span.circle .doctors-img {
  margin-top: 15px;
  width: 180px;
}
#value-props .row span.circle .shipping-img {
  margin-top: 40px;
  width: 240px;
  margin-left: -20px;
}
#value-props .row span.circle .weights-img {
  margin-top: 25px;
  margin-left: -10px;
  width: 180px;
}
#value-props .container .row {
  margin: 70px 0;
}
#wellness {
  background: url('../imgs/money-bkgd.png');
  background-position: center;
  background-size: 101% 100%;
  min-height: 400px;
  padding-bottom: 100px;
}
#wellness .wellness-row span.white-box {
  background: white;
  display: inline-block;
  padding: 30px;
  min-height: 170px;
  position: relative;
  width: 180px;
  text-align: center;
  border-radius: 8px;
}
#wellness .wellness-row h6 {
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  font-weight: 400;
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
#wellness .wellness-row div img {
  width: 70px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#wellness .wellness-row div img.dollarsign-img {
  width: 40px;
}
.wellness-row .col-sm-4 {
  padding: 0;
  text-align: center;
  margin: 0!important;
}
#wellness span.hover-box-content {
  position: absolute;
  top: 30px!important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
#wellness .white-box:hover img, #wellness .white-box:hover h6 {
  /*display: none;*/
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}
#wellness .white-box:hover .hover-box-content {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: block;
}
#wellness .hover-box-content {
  display: none;
}
#wellness h1 {
  color: white;
  margin-bottom: 60px;
}
#contact {
  background: #06bbb9;
  height: 575px;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
#contact i {
  display: inline-block;
}
#contact h1 {
  color: white;
}
#contact .contact-row input {
  text-indent: 60px;
  width: 80%;
  margin: 10px 0;
  height: 60px;
  border-radius: 6px;
  border: 0;
  font-size: 17px;
  -webkit-transition: 1s;
  transition: 1s;
}
#contact .contact-row .col-sm-6 {
  position: relative;
}
#contact .contact-row .col-sm-6 i {
  position: absolute;
  top: 12px;
  bottom: 0;
  font-size: 35px;
  margin-left: 16px;
}
#contact .contact-row .col-sm-6 {
  overflow: hidden;
}
.tos-row {
  padding: 15px 0;
  text-align: center;
  line-height: 1.7;
}
.tos-row a {
  color: #06bbb9!important;
  font-weight: bold!important;
}

/*#contact .contact-row .col-sm-6 i {

  margin-left: 0;
  width: 55px;
}*/


/*
#contact .contact-row .col-sm-6 i:after {
  content:'';
  height: 90px;
  top: 20px;
  width: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: red;
  right: 0;

  position: absolute;
  top: 20px;
}*/

#contact a {
  color: white;
  margin-top: 40px;
  border-color: white;
}
#contact .separator {
  width: 75%;
  margin: 20px auto!important;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}
#nonprofit {
  padding: 20px 0;
  background: #f3f3f3;
  color: #353535;
}
#nonprofit h4 {
  font-weight: 400;
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  line-height: 1.6;
}
#faq {}
#faq h2, #faq p {
  width: 100%;
  text-align: left;
}
#faq p {
  font-size: 18px;
  margin: 25px 0;
}
#faq i.ion-ios-help-outline {
  font-size: 180px;
  text-align: center;
  display: block;
  background: white;
  z-index: 90;
  position: absolute;
  color: rgba(0, 0, 0, 0.125);
  top: -30px;
  right: 0;
  padding-bottom: 0!important;
  left: 0;
}
.question-holder {
  padding-top: 0!important;
  margin-top: 0!important;
  position: relative;
}
#footer {
  background: black;
  color: white;
  padding: 25px 0;
  padding-bottom: 20px;
}
#footer .address {
  margin-left: 20px;
}
#footer .footer-link-row p {
  padding-top: 10px;
  font-size: 17px;
  /*margin-bottom: 50px;*/
}
#footer .footer-link-row p.address {
  padding-top: 0;
  margin-bottom: -5px;
  margin-top: 0px;
}
#footer a.circle-link {
  color: white;
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 120px;
  border: 1px solid white;
  padding-top: 8px;
  margin-left: 35px;
}
#footer a.circle-link:hover {
  background: white;
  color: #000;
  cursor: default;
}
#footer a {
  color: white;
}
#footer a i {
  font-size: 30px;
  display: block;
  margin-top: -5px;
}
#footer .separator {
  opacity: .3;
  height: 1px;
  border-radius: 20px;
  margin: 20px auto!important;
  display: block;
  width: 85%;
}
#footer .footer-link-row .col-md-3 {
  margin-left: 0;
  padding-left: 0;
}
.chevron-row {
  font-size: 25px;
  width: 85%;
  display: block;
  margin: 0 auto;
}
.chevron-row span {
  margin-top: -35px;
  z-index: 9000000;
  position: absolute;
  right: 0%;
}
/*.item.active {
  height: 230px;
}*/
.item .learn-more {
  text-indent: 15px;
  font-size: 19px;
  font-weight: 500;
}
.chevron-row i {
  font-size: 30px;
  display: inline-block;
  width: 20px;
  text-align: center;
}
.separator {
  background: #e5e5e5;
  display: block;
  margin: 15px auto!important;
  width: 100%;
  margin-left: -15px!important;
  height: 1px;
  border-radius: 120px;
}
.bk-img {
  background: url("../imgs/ziero-bk-blue.png");
  opacity: .6;
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.ziero-main-logo {
  margin-top: -8px;
  width: 190px;
}
.navbar-nav {
  padding-top: 15px;
  margin-bottom: -15px;
}
nav .navbar-toggle {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}
.navbar-toggle .icon-bar {
  background: #ccc;
}
.navbar-nav .nav-list {
  padding-left: 0;
}
.nav-list li {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  font-weight: bold;
}
.nav-list a {
  display: inline-block;
  color: #353535;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.nav-list-row a.main-cta {
  width: 120px;
  padding: 10px 20px;
}
.social-media-row a {
  display: inline-block;
  color: white;
  width: 30px;
  margin: 10px;
  opacity: .6;
}
.social-media-row a:hover {
  opacity: 1;
  text-decoration: none;
}
.social-media-row a i {
  font-size: 20px!important;
}
#value-props a {
  margin-top: 20px;
  display: block;
}
.footer-content-row p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.





.modal .separator {
  width: 80%;
  margin: 15px auto!important;
}
.loginmodal-container {
  padding: 40px 50px;
  max-width: 70%;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  position: relative;
  padding: 22px 0;
  margin-top: 10px;
  margin-bottom: 15px;
}
.loginmodal-container input[type=text], input[type=password] {
  -webkit-appearance: none;
  background: #fff;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: left;
  text-indent: 17.5px;
  width: 100%;
  margin: 10px auto!important;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 600;
}
.loginmodal-container input[type=text]:hover,
 input[type=password]:hover {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
  background: #06bbb9;
  display: inline-block;
  padding: 15px 0;
  width: 300px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #06bbb9;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}
.loginmodal-submit:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 14px;
  text-align: center;
}
.login-help a {
  font-weight: 900;
  letter-spacing: normal;
  color: #06bbb9!important;
}
.login-help a:hover {
  cursor: pointer;
}
.modal i.ion-ios-close-empty {
  color: #353535;
}
.modal-dialog {
  position: absolute;
  right: 0;
  left: 0;
  width: 700px;
}
.modal-dialog h1 {
  margin-top: 0;
}
.remember-password-row {
  margin: 5px 0 10px 0;
  color: #353535;
  display: block;
}
.remember-password-row input {
  background: blue;
  padding: 20px;
  margin: 5px 5px;
}
.close-btn {
  font-size: 40px;
  position: absolute;
  top: -10px;
  right: 15px;
}
.close-btn:hover {
  cursor: pointer;
}
span.invalid {
  display: none;
}

span.invalid.active {
  display: block;
  font-size: 20px;
  text-align: center;
  color: red;
  font-weight: 500;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}
.half-input  {
  width: 100%;
  display: inline!important;
}
.half-input input {
  background: blue;
  width: 49.5%!important;
}












@media (max-width:1200px) {
  #hero .main-cta-row .col-lg-6 {
    text-align: center;
    margin: 15px 0;
  }
  #footer a.circle-link {
    margin-left: 20px;
  }
  #footer .telephone-start {
    margin-left: 50px;
  }
  #footer .address {
    margin-left: 20px;
  }
}
@media (max-width:991px) {
  #hero {
    background-position: center;
  }
  h1 {
    max-width: 95%;
  }
  h1, h2 {
    text-align: center;
    margin: 0 auto;
  }
  #hero h1 {
    margin-top: 60px;
  }
  #faq i.ion-ios-help-outline {
    position: relative;
  }
  #hero {
    padding: 50px 0 0!important;
  }
  #hero .main-cta-row .col-lg-6 {
    text-align: center;
    margin: 15px 0;
  }
  #value-props p {
    text-align: left;
  }
  #value-props .row {
    text-align: center;
  }
  #value-props .row span.circle {
    width: 240px;
    height: 240px;
    border: 6px solid #f3f3f3;
  }
  #value-props h2 {
    margin-top: 35px;
  }
  #value-props .row p, #value-props .row a {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #value-props .row a {
    margin-top: 10px;
    font-weight: 500;
  }
  #value-props-2 img {
    width: 120px;
  }
  #value-props-2 .hands-img {
    width: 180px;
    height: auto;
    margin-top: -5px!important;
  }
  #value-props-2 p {
    width: 95%;
  }
  #wellness {
    display: none;
  }
  #contact {
    height: auto;
  }
  #contact .contact-row input {
    width: 95%;
  }
  #contact .contact-row .col-sm-6.text-right, #contact .contact-row .col-sm-6.text-left {
    margin: 0 auto;
    text-align: center;
  }
  #faq {
    padding-top: 0;
  }
  #faq i.ion-ios-help-outline {
    top: 0;
  }
  #footer .footer-link-row {
    text-align: center;
  }
  #footer .address {
    max-width: 250px;
    margin: 20px auto;
  }
  #footer a.circle-link {
    margin: 0 auto;
  }
  #footer .telephone-start {
    margin-left: 0;
  }
  #footer .footer-link-row p {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #footer .footer-link-row p.address {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chevron-row {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .navbar-nav li {
    display: block;
    margin: 30px auto;
    font-size: 30px;
  }
  .navbar-nav li a {
    font-size: 20px;
  }
  .navbar-nav li a.login-btn {
    width: 225px;
  }
  #value-props-2 .value-props-2-img-holder {
    margin-top: 70px;
  }
  #contact h1 {
    width: 90%;
    margin: 0 auto;
  }
  #contact .contact-row input {
    width: 90%;
  }

  div.loginmodal-container  {

    margin: 0 auto!important;
    text-align: center!important;
    max-width: 95%;

    padding: 30px 20px;
    margin-top: 20px!important;
    overflow-y: scroll!important;
  }
  .modal-dialog {
    width: 100%!important;
  }
}
@media (max-width:601px) {
  .bk-filter {
    -webkit-transition: 1s;
    transition: 1s;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .main-cta-row .invert {
    background: rgba(255, 255, 255, .2)!important;
  }
  #hero h1 {
    text-shadow: 1px 1px 0 #f3f3f3;
  }
  div.modal-dialog {
    margin: 0 auto !important;
  }

  div.loginmodal-container {
    margin: 0 auto !important;
    margin-top: 10px !important;
  }

  /*h1 {
    font-size: 10vw!important;
  }*/
}
@media (max-width: 441px) {
  #hero h1 {
    font-size: 10vw!important;
  }
  h1 {
    font-size: 9vw!important;
  }
  h2 {
    font-size: 8vw!important;
  }

}


@media (max-width: 400px) {
  .loginmodal-container input[type=text],
   input[type=password] {
     height: 40px;
     font-size: 14px;
     margin: 5px 0!important;
     text-indent: 10px;
   }

  .loginmodal-container input[type=submit] {
    padding: 10px 0;
    width: 98%;
    margin: 10px auto;

  }

   .loginmodal-container h1 {
     font-size: 18px!important;
     padding-top: 0;
     margin-top: -10px;
   }
 }
