<link rel="stylesheet" href="components.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div id="approved">
  <div class="text-center">
    <h2>Congratulations, Benny!</h2>
    <h4>Your application has been approved, and will be valid for 30 days.</h4>

    <div class="container">
      <div class="row terms-row">
        <div class="col-md-offset-2 col-md-1 col-sm-offset-1 col-sm-1 text-right">
          <img class="loan-amount" src="img/bag.png" alt="Loan amount">
        </div>
        <div class="col-md-1 col-sm-2 numbers">$2,500.00</div>
        <div class="col-md-1 col-sm-offset-1 col-sm-1 text-right">
          <img class="loan-term" src="img/calendar.png" alt="Loan term">
        </div>
        <div class="col-md-1 col-sm-1 numbers">12M</div>
        <div class="col-md-offset-0 col-md-1 col-sm-offset-0 col-sm-2 text-right">
          <img class="repayment-amount" src="img/card.png" alt="Repayment amount">
        </div>
        <div class="col-sm-2 numbers">$208.00</div>
      </div>

      <div class="row terms-row-info">
        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">Your loan amount</div>
        <div class="col-md-offset-0 col-md-2 col-sm-offset-1 col-sm-3">Your loan term</div>
        <div class="col-md-3 col-sm-4">Monthly repayment amount</div>
      </div>

      <div class="seperator"></div>

      <div class="row terms-frequency-row">
        <div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 text-right payment-frequency">Payment Frequency:</div>
        <div class="col-md-1 col-sm-1 numbers">Monthly</div>
        <div class="col-md-4 col-sm-4 text-right number-payments">Number of Payments:</div>
        <div class="col-md-1 col-sm-1 numbers">12</div>
      </div>

      <br>

      <div class="row credit-score-row ">
        <div class="col-sm-6 text-center credit-score-number">
          300
        </div>

        <div class="col-sm-6 text-center credit-score-number">
          300-850
        </div>

        <div class="col-sm-6 text-center credit-score">
          Your Credit Score:
        </div>

        <div class="col-sm-6 text-center credit-score">
          Credit Score Range:
        </div>

        <div class="col-md-12 col-sm-12 credit-score-notice">
          <a href="#">
              Credit Score Notice
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
