<link rel="stylesheet" href="components.css">

<div id="auth-to-obtain-credit">
  <h2 class="main-header-copy">Authorization to Obtain Credit Report at Registration</h2>

  <p class="main-content-copy">
    I authorize Ziero Financial Inc. (“Ziero”), and their respective agents to obtain a credit report from one or more consumer credit reporting agencies. They may use the credit report for any purpose that would be authorized by applicable law in connection
    with a credit transaction involving me and involving the extension of credit to me or review or collection of my account, including but not limited to (i) for authentication purposes, to make sure I am who I say I am, (ii) to make prequalification and
    other credit decisions; (iii) to determine how much debt I currently have, in order to determine my debt-to- income ratio, and (iv) to obtain my credit score and assign me a Ziero Rating based in part on that score. Information from my credit report
    will be displayed on the Ziero website with my listing. I authorize Ziero to verify information in my credit report and my listing, and I agree that Ziero may contact third parties without further notice to me to verify any such information. Ziero may
    obtain my credit report each time I apply for a loan and at any other time in Ziero’s sole discretion, including in connection with loan servicing or collection.
  </p>
</div>
