<link rel="stylesheet" href="components.css">

<div id="auth-loan">
  <h2>Authorization Agreement for Preauthorized Loan Payment (ACH Debit – EFT)</h2>

  <p>I authorize Ziero Financial Inc (Ziero) to initiate scheduled debit and credit entries on the account at the financial institution I have provided to pay the Ziero loan specified above. I agree that it may take up to 30 calendar days to process and
    initiate this payment method for my loan, and that I must notify Ziero in writing at support@zierofinance.com or at the address listed above at least 30 days in advance to cancel this payment authorization. I agree that this payment authorization
    is further subject to terms of the Ziero Account Agreement &amp; Disclosures, including the Electronic Funds Transfer section thereof, and that Ziero may assess one or more fees for returned items. Refer to Ziero Promissory Note and www.zierofinance.com
    for the current Fee Schedule and Account Agreement &amp; Disclosures. I understand and agree that if my account at the depository financial institution I have provided does not have sufficient funds to make my loan payment, Ziero will not be responsible
    or liable for any penalties or charges assessed by any other financial institution as a result of such insufficiency. Ziero will attempt to withdraw my loan payment via EFT-ACH one additional time, though I acknowledge that, in the event Ziero’s additional
    attempt to collect my payment via EFT-ACH is unsuccessful, I must make my loan payment by other means.

    <br>
    <br> I understand that Ziero will assess a fee to my loan(s), in addition to any other fees and/or charges, as a result my account at the depository financial institution listed below having insufficient funds. Refer to the current Fee Schedule at www.zierofinance.com
    for a complete list of fees. I agree to notify Ziero in writing at least 30 days in advance to cancel this EFT-ACH payment authorization.</p>

  <p>
    Ziero Financial Inc
    <br>
    739 Bryant Street, Suite 207
    <br>
    San Francisco, CA 94107
    <br> support@zierofinance.com
  </p>
</div>
