<link rel="stylesheet" href="components.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
<div id="benefits-agreement">


  <h3 class="text-center underline">Ziero Financial Inc.</h3>
  <h3 class="text-center">Benefits Service Agreement</h3>
  <p>This Service Agreement is entered into as of [date] between Ziero Financial Inc., a Delaware company with a place of business at 739 Bryant Street, Suite 207, San Francisco, CA 94107 (“Ziero”), and Employer (“Company”, “you”).</p>

  <p class="text-center underline">Witnesseth:</p>
  <p>WHEREAS, Ziero provides an employee benefit program enabling qualified employees with appropriate credit scores to obtain zero-interest loans at specified sums; and</p>
  <p>WHEREAS, Company wishes to engage Ziero to provide this benefit to its employees on the terms set forth herein, and is willing to pay Ziero as set forth herein for administration and maintenance of the benefit program;</p>
  <p>NOW, THEREFORE, in consideration of the mutual promises set forth herein, the parties hereby agree as follows:</p>
  <p class="bold">1. Service.</p>
  <p>1.1 Ziero will provide service to Company, in the form of an internet portal, explanatory information, and discretionary support, for employees who wish to enroll in Ziero’s employee benefit loan program.</p>
  <p>1.2 The service will consist of an Internet portal, anticipated to be www.zierofinance.com, which qualifying employees may utilize to apply for, and should they qualify, to obtain loans on the terms specified by Ziero. In addition, Ziero will provide
    Company with instructions, introductory and explanatory documentation in its discretion, for relaying to Company’s employees and for the Company’s informational purposes. Ziero will further provide Company with additional support in its discretion
    as it deems appropriate with respect to implementation and operation of the benefit program for Company.</p>
  <p>1.3 Ziero will retain full discretion as to whether or not a particular employee qualifies for a Ziero loan, subject to all applicable legal requirements. Ziero anticipates that qualified employees will be limited to those with credit scores equal to
    or in excess of 640 who are employed on a part or full time basis by Company with no expectation of near term separation. Ziero will have no liability to Company for refusing to extend any specific loan product to any particular employee.</p>
  <p>1.4 Ziero will notify Company of each loan consummated with a Company employee, without necessarily identifying employee, as well as whether any employees no longer have outstanding balances on any Ziero loans previously obtained.</p>
  <p class="bold">2. Company Cooperation, Support, and Understanding.</p>
  <p>2.1 Company will provide Ziero with all information reasonable and necessary for provision of such Services. Company will be granted access to the Ziero platform for the purposes of entering employees who are eligible for consideration for loans on
    the Ziero platform, and will be responsible for ensuring such data are correct.</p>
  <p>2.3 Company shall upload information only of part time, full time, indefinite-term employees (not including contractors, , retirees, temporary employees, or other employees that Company expects to terminate in the near future), whom Company deems potentially
    eligible to apply for Ziero loans according to its own additional eligibility parameters. Company may base these additional eligibility parameters on any legally permissible criteria it sees fit. In the event that Company receives notice that a particular
    employee is terminating or intends to terminate her or his employment, Company will remove this employee from the database. Company will bear full responsibility for ensuring that the data it uploads concerning its employees and their eligibility
    for Ziero benefits are accurate and current.</p>
  <p class="bold">3. Payment.</p>
  <p>3.1 In consideration of Ziero’s performance of the service, Company will pay to Ziero an administrative fee in accordance with the pricing plan selected by Company.</p>
  <p>3.2 Ziero will invoice Company for administrative fees upon the approval of a loan, prior to disbursement of funds by Ziero to employee/borrower. Payment of the administrative fee will be due and payable before proceeds of such loan are disbursed to
    employee/borrower.
  </p>
  <p class="bold">4. Limitation of Obligations</p>
  <p>4.1 Ziero’s obligations are limited to the provision of Service as set forth herein. Ziero shall have no obligation to provide additional products and services of any kind, nor shall Ziero be obligated to extend any loans that it does not in its sole
    discretion deem appropriate.</p>
  <p>4.2 All intellectual property relating in any way to the Internet portal, the service provided, and any documentation or other information provided by Ziero shall remain the sole property of Ziero, and no license or other rights to such material are
    granted except as expressly set forth herein. Company shall not attempt to reverse engineer, decompile or otherwise replicate any Ziero services or materials. Company shall keep this Agreement, as well as any information designated by Ziero, as proprietary,
    confidential and will not disclose such information to any third parties (other than Company employees) without Ziero’s express written consent.</p>
  <p class="bold">5. No Representations or Warranties</p>
  <p>5.1 Ziero makes no representations or warranties of any kind concerning website temporal availability, protections against data breach, and/or quality or performance of the service or of the loan program. Ziero explicitly disclaims any and all implied
    warranties, including but not limited to merchantability, fitness for a particular purpose, and/or noninfringement.</p>
  <p class="bold">6. Limitation of Liability; Indemnification</p>
  <p>6.1 IN NO EVENT WILL EITHER PARTY BE LIABLE FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, OR SPECIAL DAMAGES. THE ENTIRE LIABILITY OF ZIERO, AND THE SOLE AND EXCLUSIVE REMEDY OF COMPANY AND/OR CUSTOMERS THEREOF FOR ANY CLAIMS ARISING OUT OF OR RELATED
    TO THIS AGREEMENT OR ZIERO’S PROVISION OF SERVICES TO THE COMPANY OR LOANS TO EMPLOYEES THEREOF, WHETHER IN TORT, CONTRACT, OR ANY OTHER THEORY, SHALL NOT EXCEED THE TOTAL FEES PAID TO ZIERO BY COMPANY IN ANY TWELVE MONTH PERIOD.</p>
  <p>6.2 Company will defend, indemnify, and hold harmless Ziero and any affiliated parties from any claims of any kind brought by current or former Company employees or parties associated therewith arising out of or related to this Agreement or any services
    provided by Ziero to Company or employees thereof.</p>
  <p class="bold">7. Governing law, Dispute Resolution, and Venue.</p>
  <p>7.1 This agreement shall be governed by the laws of the State of California without regard to principles of conflicts of laws.</p>
  <p>7.2 Any dispute arising out of or related to this agreement shall be resolved exclusively by litigation in state or federal court located in the Northern District of California, and the parties consent to the exclusive jurisdiction of the state and
    federal courts in the Northern District of California for the purposes thereof.</p>
  <p class="bold">8. Term and Termination</p>
  <p>8.1 This agreement shall extend for a term of one year from the date hereof, thereafter renewing for successive one year terms unless either party gives written notice prior to such renewal that it does not desire to renew for the following term.</p>
  <p>8.2 Ziero may terminate this agreement for nonpayment if any invoice remains outstanding more than 30 days from the date of issuance.</p>
  <p>8.3 Either party may terminate this agreement on sixty (60) days advance written notice to the other party.</p>
  <p>8.4 Termination or expiration of this agreement shall not excuse either party from obligations to make any payments incurred prior to such termination becoming effective.</p>
  <p>8.4 Sections 4, 5, 6, and 7 shall survive any termination or expiration of this agreement.</p>
  <p class="bold">9. Miscellaneous</p>
  <p>9.1 This agreement represents the entire agreement of the parties and supersedes any prior understandings, representations, or agreements with respect to the subject matter hereof. This agreement may not be amended except by an instrument in writing
    signed by both parties hereto. This agreement may not be assigned by Company without the express written consent of Ziero. Except as otherwise set forth herein, this agreement shall inure to the benefit of the parties and any successors or assigns
    thereof.
  </p>
  <p>9.2 If any provision of this agreement or the application thereof is held by a court of competent jurisdiction to be illegal, invalid or unenforceable to any extent, that provision shall be limited or eliminated to the minimum extent necessary so that
    the remainder of this agreement and the application thereof shall otherwise remain in full force and effect.</p>
  <p>9.3 The failure of any party to seek redress for violation of or to insist upon the strict performance of any covenant or condition of this agreement shall not operate as a waiver of that party’s right to seek relief for any subsequent violation or
    to enforce any right it holds under this agreement.</p>
  <p>9.4 The parties hereto are independent contractors, and neither party has any right or ability to bind the other party, nor any fiduciary relationship to the other party, by virtue of this agreement or anything related thereto.</p>
  <br>

  <p><span class="bold">IN WITNESS WHEREOF,</span> Assignors and Assignee have caused this Agreement to be duly executed as of the day and year first above written.</p>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <input type="checkbox" id="sign-agreement">
      <label for="sign-agreement" class="sign-agreement-label"> ￼By clicking here you electronically sign this entire agreement.</label>
    </div>
    <div class="col-sm-6">
      <p>
        Ziero Financial Inc. __________________________________
      </p>
    </div>
  </div>

  <br>
  <br>
  <p class="bold">Company name:</p>
  <p class="bold">Company Representative name:</p>
  <p class="bold">Date:</p>


</div>
