#privacy-policy, #terms, #auth-loan, #electronic-signature, #tcpa-consent, #auth-to-obtain-credit {
  font-family: Arial;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
#privacy-policy p, #terms p, #auth-loan p, #electronic-signature p, #tcpa-consent p, #auth-to-obtain-credit p {
  line-height: 1.5;
}
#privacy-policy h2, #terms h2, #auth-loan h2, #electronic-signature h2, #tcpa-consent h2, #auth-to-obtain-credit h2 {
  margin: 20px 0!important;
  line-height: 1.3!important;
  padding-bottom: 20px!important;
}
#privacy-policy h3, #terms h3, #electronic-signature h3, #auth-to-obtain-credit h3, #privacy-policy h4, #electronic-signature h3, #auth-to-obtain-credit h3 {
  margin: 10px 0!important;
  line-height: 1.3!important;
  padding-bottom: 5px!important;
}
.bordered .col-sm-10 {
  border-left: 1px solid #ccc;
  font-size: 17px;
}
#glb-act {
  font-family: Arial;
  width: 90%;
  padding-left: 0!important;
  margin-left: -13px;
}
#glb-act h2.bordered {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}
#glb-act .width-15 {
  min-height: 120px;
  width: 14%;
  display: inline-block;
}
#glb-act .width-85 {
  margin: 0;
  padding: 0;
  width: 83%;
  display: inline-block;
  height: auto;
  min-height: 120px;
  text-align: left;
  padding-left: 10px!important;
}
#glb-act .bordered {
  border: 1px solid #ccc;
  background: #f3f3f3;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 0;
}
.creat-campaign-hdr-part ul {
  margin: 0!important;
}
#approved h4 {
  margin: 20px auto;
  font-weight: 400;
}
#approved div.numbers {
  color: #06bbb9;
  font-size: 35px;
  text-align: left;
  padding-left: 0;
  font-family: gotham_mediumregular, 'Open sans', 'Arial';
}
#approved img.loan-amount {
  width: 50px;
}
#approved img.loan-term {
  width: 45px;
}
#approved img.repayment-amount {
  width: 65px;
}
#approved .seperator {
  background: rgba(0, 0, 0, .105);
  height: 2px;
  width: 70%;
  max-width: 800px;
  margin: 25px auto;
}
.terms-row {
  margin-top: 25px;
  font-family: gotham_mediumregular, 'Open sans', 'Arial';
}
.terms-row-info {
  text-indent: -20px;
  margin-top: 10px;
  color: #656556;
}
.credit-score, .credit-score-range {
  padding-top: 6px;
  text-align: right;
  font-size: 15px;
}
.credit-score-row {
  border: 1px solid #cacaca;
  width: 75%;
  margin: 0 auto!important;
  padding: 20px 0 20px 0;
}
.credit-score-notice {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 400;
}
.credit-score-number, .credit-score-range-number {
  font-weight: 600;
  font-size: 28px;
  color: #353535;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.credit-score-notice {
  margin-bottom: 0;
}
.terms-frequency-row .payment-frequency, .terms-frequency-row .number-payments {
  padding-top: 15px
}
.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
#sign-agreement {
  display: inline;
}
label.sign-agreement-label {
  display: inline;
  margin-left: 20px;
}
@media (max-width: 600px) {
  #privacy-policy, #terms, #auth-loan, #auth-to-obtain-credit, #electronic-signature, #tcpa-consent {
    width: 95%;
    margin: 0 auto;
  }
  #glb-act h2.bordered {
    font-size: 20px;
    line-height: 1.2;
  }
}
