<link rel="stylesheet" href="components.css">

<div id="electronic-signature">
  <h2>CONSENT AND NOTICE REGARDING ELECTRONIC COMMUNICATIONS FOR Ziero Financial Inc </h2>


  <h3>1. Electronic Signature Agreement.</h3>
  <p>
    By selecting the &quot;I Accept&quot; button, you are signing this Agreement electronically. You agree your electronic signature is the legal equivalent of your manual signature on this Agreement. By selecting &quot;I Accept&quot; you consent to be legally
    bound by this Agreement&#39;s terms and conditions. You further agree that your use of a key pad, mouse or other device to select an item, button, icon or similar act/action, or to otherwise provide Ziero Financial Inc.(Ziero) instructions via the
    Ziero website at www.zierofinance.com, or in accessing or making any transaction regarding any agreement, acknowledgement, consent terms, disclosures or conditions constitutes your signature (hereafter referred to as &quot;E-Signature&quot;), acceptance
    and agreement as if actually signed by you in writing. You also agree that no certification authority or other third party verification is necessary to validate your E-Signature and that the lack of such certification or third party verification will
    not in any way affect the enforceability of your E-Signature or any resulting contract between you and Ziero. You also represent that you are authorized to enter into this Agreement for all persons who own or are authorized to access any of your accounts
    and that such persons will be bound by the terms of this Agreement. You further agree that each use of your E-Signature in obtaining a Ziero loan or other service constitutes your agreement to be bound by the terms and conditions of the Ziero Disclosures
    and Agreements as they exist on the date of your E-Signature.
  </p>

  <h3>2. Consent to Electronic Delivery. </h3>

  <p>You specifically agree to receive and/or obtain any and all Ziero related &quot;Electronic Communications&quot; (defined below) via email and your account at www.zierofinance.com. The term &quot;Electronic Communications&quot; includes, but is not limited
    to, any and all current and future notices and/or disclosures that various federal and/or state laws or regulations require that we provide to you, as well as such other documents, statements, data, records and any other communications regarding your
    relationship with Ziero. You acknowledge that, for your records, you are able to retain Electronic Communications by printing and/or downloading and saving this Agreement and any other agreements and Electronic Communications, documents, or records
    that you agree to using your E-Signature. You accept Electronic Communications provided by Ziero as reasonable and proper notice, for the purpose of any and all laws, rules, and regulations, and agree that such electronic form fully satisfies any
    requirement that such communications be provided to you in writing or in a form that you may keep.
  </p>

  <h3>3. Paper version of Electronic Communications. </h3> You may request a paper version of an Electronic Communication. You acknowledge that Ziero reserves the right to charge you a reasonable fee for the production and mailing of paper versions of Electronic Communications. To request a paper copy of an
  Electronic Communication contact us at (415) 646-6915.

  <h3>4. Revocation of electronic delivery. </h3>

  <p>
    You have the right to withdraw your consent to receive/obtain communications electronically from Ziero at any time. You acknowledge that Ziero reserves the right to restrict or terminate your access to Ziero services and products if you withdraw your
    consent to receive Electronic Communications. If you wish to withdraw your consent, contact us at (415) 646-6915.
  </p>

  <h3>To obtain electronic services and communications, indicate your consent to the terms and conditions of this Agreement by clicking on the &quot;I Accept&quot; button.</h3>
  <p>
    It is recommended that you print a copy of this Agreement for future reference.
  </p>

</div>
