<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="components.css">



<div id="glb-act">

  <div class="container">
    <h2 class="bordered">WHAT DOES ZIERO FINANCIAL DO WITH YOUR PERSONAL INFORMATION?</h2>
    <div class="row bordered">
      <div class="col-sm-2">
        <h4>Why?</h4>
      </div>
      <div class="col-sm-10">
        Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information.
        <br> Please read this notice carefully to understand what we do.
      </div>
    </div>

    <div class="row bordered">
      <div class="col-sm-2">
        <h4>What?</h4>
      </div>
      <div class="col-sm-10">
        The types of personal information we collect depends on the service you have with us. We collect personal   information during the membership and/or application process and from credit bureaus.
        <br>   This information can include your:
        <br>   • social security number
        <br>   • email address
        <br>   • income
        <br>   • date of birth
        <br>   • address and telephone number
        <br>   • account information
        <br>   • credit history and credit score
        <br>   • credit card or other debt information
      </div>
    </div>


    <div class="row bordered">
      <div class="col-sm-2 ">
        <h4>How?</h4>
      </div>
      <div class="col-sm-10 ">
        Ziero does not share the nonpublic personal information provided by current or former customers to affiliates or   nonaffiliated third parties, except as required by law. Ziero does share certain credit and financial information   of borrowers, as required
        by the Securities &amp; Exchange Commission.
      </div>
    </div>


    <div class="row bordered">
      <div class="col-sm-2 ">
      <h4>How does Ziero protect my personal information?</h4>
      </div>
      <div class="col-sm-10">
        To protect your personal information from unauthorized access, Ziero has adopted a specific policy on safeguarding customer information in addition to our general information security policy. Ziero stores all sensitive financial data in a secure, remote,
        SAS 70 environment.
      </div>
    </div>


    <div class="row bordered">
      <div class="col-sm-2">
        <h4>Privacy Policy</h4>
      </div>
      <div class="col-sm-10">
        Privacy Policy Ziero&#39;s privacy policy can be found at http://www.zierofinance.com/privacy-policy.html
      </div>
    </div>



</div>
