<link rel="stylesheet" href="components.css">

<div id="terms">

  <h2>Terms of use</h2>
  <p>
    Our website, zierofinance.com, (the “Site”) is operated by Ziero Financial Inc. (collectively, “Ziero” or “we” or “us”). By using the Site, including accessing the Site or using any of the services provided on or through the Site (the “Services”), you
    agree to be bound by the terms and conditions that follow (the “Terms of Service”), as we may modify them from time to time. These Terms of Service apply to your use of the Site and the Services (the Site and the Services are collectively referred
    to as “Site/Services”). If you do not agree to these Terms of Service, or if you do not have the right, power, and authority to agree to and be bound by these Terms of Service, you may not use the Site. Notwithstanding anything to the contrary herein,
    if you and Ziero have entered into a separate written agreement that covers your use of the Services, the terms and conditions of such agreement will control with respect to those Services to the extent they are inconsistent with these Terms of Service.
  </p>

  <h3>Purpose of Site</h3>
  <p>
    The Site is designed to provide information regarding obtaining a personal loan through the Ziero network. The information and Services offered on or provided through the Site do not constitute legal, tax, accounting or other professional advice.
  </p>

  <h3>Eligibility</h3>
  <p>
    You must be 18 years of age or older to be eligible to use this Site or any of the Services. Any use of the Site by anyone under 18 years of age is unauthorized and violates the Terms of Service. By using the Site and/or the Services, you represent you
    are 18 years of age or older. You further agree to and to abide by the Terms of Service. In the event you violate any of the terms or conditions set forth in the Terms of Service, we may terminate your access to and use of the Site and/or the Services,
    including, without limitation, deleting your information, content, any postings or listings you caused to be posted on the Site.
  </p>

  <h3>Privacy</h3>
  <p>
    Our privacy policy explains your privacy rights regarding our collection, use, storage, sharing and protection of your personal information. It applies to the Site/Services as well as all related sites, applications, services and tools regardless of how
    you access or use them.
  </p>

  <h3>Opening an Account </h3>
  <p>
    To use our Services, you become a registered user and open an account through the Site. To open an account, you must provide correct and accurate information about yourself as required through the registration process, including your correct country of
    residence.

    <br> If you provide false, inaccurate, incomplete, or misleading information, we may cancel and/or terminate your registration, account, application for loans or investments, terminate any agreement you may have with us, and restrict your future use of
    the Site and/or Services. We reserve the right to decline or reject any registrations or application for loans or investments.

    <br> In connection with opening your account, you are required to create a user name and a password to prevent unauthorized use of your account and our Services. You may not open an account for any third party, and you may not disclose your user name
    or password to any third party.

    <br> If you provide us with your mobile phone number in connection with your account, we will notify or contact you regarding your account or Services by sending text messages to your mobile phone number. We will not be responsible for any charges you
    may incur in receiving any text alerts, notices, or messages from Ziero.
  </p>

  <h3>Your Account Content and Information</h3>
  <p>When using your account, you may post, list, and/or share the contents of your account, profile, and/or information (“Information”) using the Site. We will not be responsible for any errors or omission in any information or content posted by a user.
    By submitting, posting, and/or sharing your Information on the Site or by use of the Site, you expressly agree to each of the terms below.

    <br> When you post, list, and/or share any Information using the Site and/or Services, Ziero shall be granted a non-exclusive, transferable, sub-licensable, royalty-free, world license to use any Information you submit, post, or list on the Site and/or
    Services from you. You agree that this license will not expire.
    <br> Ziero, at its sole discretion, may remove any Information that you share on the Site for any reason. You may remove your Information you have posted on the Site and/or Services. Your grant of license to the removed Information does not expire upon
    removal or deletion of your Information. Additionally, the deleted Information may be archived and/or otherwise preserved on our servers or in backup copies. Your Information may be accessed and reviewed by Ziero at its sole discretion. Ziero may,
    at its discretion, translate, reformat, edit, delete, or modify any of your Information. You are solely responsible for your Information you post on the Site and/or Services. You agree that Ziero may at its sole discretion review, delete, or remove
    without notice to you any of your Information that Ziero determines to violate the Terms of Service. Your Information will be available to other users of our Site and/or Services. Other users of our Site and/or Services may access, use, store and
    transfer your Information. Each user who posts, lists, or shares any information on the Site or by use of the Site or Services is solely responsible of their respective Information.
  </p>

  <h3>Prohibited Uses</h3>
  <p>In addition to the each of the terms above, you agree that you will not:
    <br>
    <br> Access any aspect of the Site, Content, or Information for any use other than the Permitted Use subject to the Terms of Service;
    <br>
    <br> Register for more than one account, or register for an account on behalf of an individual other than yourself or on behalf of any group or entity;
    <br>
    <br> Post, privately transmit, or otherwise make available content, or take any action on the Site, that may constitute libel or slander or that infringes or violates someone else’s rights or is protected by any copyright or trademark, or otherwise violates
    the law;
    <br> Use or distribute any information from the Site, Content, Information, or Services to directly or indirectly create or contribute to the development of any database or product; Modify, merge, decompile, disassemble, translate, decode or reverse engineer
    any aspect of the Site, Content, or Information, or use any data mining, gathering or extraction tool, or any robot, spider or other automatic device or manual process, to monitor or copy any aspect of the Site, Content, Information, or Services;
    Use, reproduce, publish or compile any aspect of the Site, Content, Information or Services for the purpose of selling or licensing or making publicly available any aspect of thereof; Upload, post or otherwise publish any aspect of the Site, Content,
    Information or Services on, or provide access to any aspect of the same through, the Internet, any bulletin board system, any other electronic network, any data library, or any other data sharing arrangement; Upload, post, e-mail or otherwise transmit
    any aspect of the Site, Content, Information or Services, or use any aspect of the same in a manner, that: is unlawful, threatening, abusive, harmful, libelous, tortious, defamatory, false, misleading, obscene, vulgar, racially or ethnically offensive
    or otherwise objectionable; infringes any patent, copyright, trademark, trade secret, or other proprietary right of any party or violates the privacy or publicity rights of any party; constitutes unlawful advertising or fraudulent, unfair or deceptive
    practices, “spam,” or any other form of unlawful solicitation; contains software viruses or any other computer code, files or programs that are designed to or have the capability to interrupt, modify, damage, improperly access, disable, destroy or
    limit the functionality of the Site/Services or servers or networks connected thereto or the activities of other users of the Site/Services or of any computer software or hardware or telecommunications equipment; or you do not have a right to transmit
    under any law, contractual obligation (i.e., nondisclosure agreement) or fiduciary duty; Impersonate any person or entity, or falsely state or otherwise misrepresent any registration information, or otherwise disguise the origin of any information,
    data, text, software, photographs, images, graphics, or other content posted on or transmitted through the Site or Services; and/or Use any aspect of the Site, Content, Information, or Services to encourage or engage in illegal activity, stalk or
    harass another person, or violate these Terms of Service or any applicable local, state, national or international law, rule, regulation or ordinance, including, but not limited to, state and local real estate practice, spam or privacy laws.
  </p>

  <h3>Fees</h3>
  <p> You are responsible for the timely payment of any fees incurred by your use of the Site, Services and all taxes applicable to your use of the Site and/or Services. WE RESERVE THE RIGHT, AT ANY TIME AND FROM TIME TO TIME, TO PROSPECTIVELY CHANGE THE
    NATURE AND AMOUNT OF FEES CHARGED FOR ACCESS TO THE PRODUCT OR ANY OF THE COMPONENTS OR SERVICES AVAILABLE ON OR THROUGH THE PRODUCT, AND THE MANNER IN WHICH SUCH FEES ARE ASSESSED AND/OR COLLECTED.
  </p>

  <h3>Changes, Modifications and Termination</h3>
  <p>Ziero is continuously updating and changing the Site/Services, and reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Site/Services (or any aspect thereof) with or without notice. You agree
    that Ziero will not be liable to you or to any third party for any modification, suspension or discontinuance of the Site/Services (or any aspect thereof). Additionally, we reserve the right, in our complete and sole discretion, to change these Terms
    of Service at any time by posting revised terms on the Site. It is your responsibility to check periodically for any changes we may make to the Site/Services and these Terms of Service. Your continued use of the Site/Services following the posting
    of changes to these terms or other policies means that you accept and agree to the changes.
  </p>

  <h3>Submitted Content</h3>

  <p>
    The Site may include opportunities for users to submit information, data, text, photographs, images, graphics, and other Content to the Site/Services, for it to be publicly displayed on the Site/Services, used by Ziero in connection with its research,
    or for some other purpose (“Submitted Content”). You understand that all such Submitted Content, whether publicly posted or privately transmitted, is the sole responsibility of the person from which such content originated. This means that you, and
    not Ziero, are entirely responsible for all such Submitted Content that you upload, post, e-mail or otherwise transmit to or via the Site/Services. Ziero is under no obligation to post or use any such Submitted Content that you may provide and may
    remove any such Submitted Content at any time in Ziero’s sole discretion.
    <br>
    <br> With respect to all Submitted Content you elect to upload, post, e-mail or otherwise transmit to or via the Site, you grant Ziero and its affiliates and their licensees a royalty- free, perpetual, irrevocable, non-exclusive and fully sub-licensable
    right and license (through multiple tiers) to use, reproduce, adapt, perform, display, publish, translate, prepare derivative works from, modify, distribute, sell, and take any other actions with respect to such Submitted Content (in whole or part)
    worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed. You further acknowledge and agree that Ziero may preserve any such Submitted Content and may also disclose any or all of such Submitted
    Content in its discretion.

    <br>
    <br> You represent and warrant to Ziero that: (i) you own or have the full right, power and authority to grant to Ziero use of and rights in and to all Submitted Content that you upload, post, e-mail or otherwise transmit to or via the Site and/or Services;
    (ii) your license of such Submitted Content to Ziero hereunder does not, and the use or license of such Submitted Content by Ziero to third parties will not, infringe any right or interest owned or possessed by any third party; and (iii) there are
    no claims, judgments or settlements to be paid by you, or pending claims or litigation, relating to any of such Submitted Content.
  </p>

  <h3>Copyright Infringement Notification</h3>
  <p>
    Ziero and its affiliates respect the intellectual property of others, and we ask those posting or transmitting any Content to or through the Site to respect copyright law. Please notify us of any materials on the Site that infringes on any copyright you
    own or control. Your notification should be sent to copyright@zierofinance.com. The following information must be included in your notification: Identify your work by providing the full URL to each individual copyright. If a URL is not available,
    please provide as much information as possible for us to locate your work.
    <br>
    <br> Identify the infringing work by providing the full URL where the infringing work is displayed. If a URL is not available, please provide as much information as possible for us to locate the infringing work.
    <br> Provide your name, address, email address, and telephone number.
    <br>
    <br> Provide a statement in the body of the notice that (1) you believe, in good faith, that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law, and (2) the information in the notice is accurate.
  </p>

  <h3>Information about You</h3>

  <p>
    When you use the Site and/or Services, Ziero collects both personally and non- personally identifiable information about you and your use of the Site/Services. Such information includes: (i) what you intentionally submit to us while using the Site/Services,
    including, for example, by filling out forms with your contact information or by logging in with your passcode, and (ii) information that may be collected automatically while you use the Site/Services, including, for example, your IP address, your
    IP host, session duration, and “click stream” data that tracks user activity in the Site/Services. We also collect your mobile phone number in connection with the registration process.
    <br> We generally use or disclose the information that we collect through the Site/Services to conduct research on and to improve the Site/Services, to perform customer service and support, to fulfill your requests for services, and to provide you with
    information regarding our services, including service-related announcements. Ziero may notify or contact you by sending text messages to your mobile phone number. Ziero will not be responsible for any charges you may incur in receiving any text alerts,
    notices, or messages from Ziero.
    <br>
    <br> Ziero takes steps to protect the security of the personally identifiable information that we collect, including, for example, physical, electronic, and procedural safeguards.
    <br>
    <br> If you have any questions, please contact us by e-mail at compliance@zierofinance.com. We will do our best to look into your request and respond promptly.
  </p>

  <br>
  <br>

  <h3>Links and Framing</h3>
  <p>
    The Site may contain links or framing to third party websites, and third party websites may link or frame their website to our website. Ziero is not responsible for the information, the contents, or the policies and practices of those third party websites.
    <br>
    <br> Except as authorized by Ziero in writing, links to and the framing of the Site or any Content is expressly prohibited.
  </p>

  <h3>Disclaimer</h3>
  <p>
    Any reliance upon the Site and/or Services will be at your own risk. Neither we, nor any third party involved in creating, producing or delivering the Site and/or Services, will be liable or responsible if the Site is not accurate, complete or current
    in any respect. Neither we, nor any third party involved in creating, producing or delivering the Site and/or Services, has or will have any responsibility for any consequences relating, directly or indirectly, to any action or inaction that you may
    take based on the Site and/or Services, or any aspect thereof.</p>
  <br>
  <br>
  <p>ALTHOUGH ZIERO WILL USE REASONABLE EFFORTS TO PROVIDE AN ACCURATE SITE/SERVICES, ALL ASPECTS THEREOF ARE PROVIDED “AS IS”, “WITH ALL FAULTS”, AND “AS AVAILABLE”. ZIERO AND ITS AFFILIATES AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES AND THIRD
    PARTY SUPPLIERS (COLLECTIVELY, THE “ZIERO PARTIES”) DISCLAIM ANY AND ALL REPRESENTATIONS, WARRANTIES OR GUARANTEES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, THE SITE, SERVICES, ANY DOCUMENTATION PROVIDED OR MADE AVAILABLE TO YOU, AND ANY
    OTHER PRODUCTS AND RELATED MATERIALS AND/OR SERVICES PROVIDED TO YOU BY ANY OF THE ZIERO PARTIES, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES: (i) AS TO TITLE, MERCHANTABILITY, FITNESS FOR ORDINARY PURPOSES, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT,
    SYSTEM INTEGRATION, AND WORKMANLIKE EFFORT; (ii) THE QUALITY, ACCURACY, TIMELINESS OR COMPLETENESS OF THE SITE OR SERVICES OR ANY ASPECT THEREOF; (iii) THOSE ARISING THROUGH COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE; (iv) THE SITE
    OR SERVICES CONFORMING TO ANY FUNCTION, DEMONSTRATION OR PROMISE BY ANY ZIERO PARTY; AND (v) THAT ACCESS TO OR USE OF THE SITE AND/OR SERVICE WILL BE UNINTERRUPTED, ERROR-FREE OR COMPLETELY SECURE. ANY RELIANCE UPON THE SITE AND/OR SERVICES IS AT
    YOUR OWN RISK AND THE ZIERO PARTIES MAKE NO WARRANTIES.
    <br> THESE DISCLAIMERS ARE INDEPENDENT OF ANY OTHER TERM IN THESE TERMS OF USE OR THE LICENSE AGREEMENT. </p>

  <h3>Limitation of Liability </h3>
  <p>YOU ACKNOWLEDGE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ZIERO PARTIES WILL NOT BE HELD LIABLE FOR ANY LOSS, COST OR DAMAGE SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY ARISING OUT OF OR RELATED TO YOUR USE OF THE SITE/SERVICES. YOU AGREE
    THAT YOUR ACCESS AND USE OF THE SITE/SERVICES, PRODUCT, AND ANY CONTENTS OF THE SITE/SERVICES IS AT YOUR RISK. ZIERO WILL NOT BE HELD LIABLE FOR ANY DEFECTS, FAULTS, INTERRUPTIONS OR DELAYS IN THE OPERATION OR TRANSMISSION, PRODUCT, AND/OR OUT OF
    ANY INACCURACIES, ERRORS OR OMISSIONS IN THE INFORMATION CONTAINED IN THE SITE/SERVICES.
    <br>
    <br> UNDER NO CIRCUMSTANCES WILL ANY OF THE ZIERO PARTIES BE HELD LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE OR ANY OTHER DAMAGES, INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, ARISING OUT OF, BASED ON, RESULTING FROM,
    OR IN CONNECTION WITH THE SITE/SERVICE OR PRODUCT, THESE TERMS OF USE, OR YOUR USE OR INABILITY TO USE ANY OF THE FOREGOING, EVEN IF ZIERO HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA
    CIVIL CODE §1542, WHICH SAYS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH
    THE DEBTOR.” ALL OF THESE LIMITATIONS APPLY REGARDLESS OF THE CAUSE OR FORM OF ACTION, WHETHER THE DAMAGES ARE CLAIMED UNDER THE TERMS OF A CONTRACT, TORT OR OTHERWISE, AND EVEN IF WE OR OUR REPRESENTATIVES HAVE BEEN NEGLIGENT OR HAVE BEEN ADVISED
    OF THE POSSIBILITY OF SUCH DAMAGES. NO ACTION ARISING OUT OF OR PERTAINING TO THESE TERMS OF SERVICE MAY BE BROUGHT MORE THAN ONE (1) YEAR AFTER THE CAUSE OF ACTION HAS ARISEN.
  </p>

  <h3>Indemnity</h3>
  <p>You agree to indemnify, defend and hold harmless the Ziero Parties from and against any and all third party actions, suits, claims and/or demands and any associated losses, expenses, damages, costs and other liabilities (including reasonable attorneys’
    fees), arising out of or relating to your (and your users’) Submitted Content, use or misuse of any aspect of the Site/Services, or your violation of these Terms of Service or a separate License Agreement. You will cooperate as fully as reasonably
    required in the defense of any such claim or demand. Ziero and any third party involved in creating, producing or delivering the Site/Services reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification
    by you, at your expense, and you will not in any event settle any such matter without the prior written consent of Ziero and any such third party.</p>

  <h3>Cookies</h3>
  <p>Some areas of the Site/Services may use and require that your computer accept “cookies”. Cookies are small text files that are stored on your computer to keep track of settings or data for a particular website. Cookies make it possible and easier for
    you to access and use certain areas of the Site/Services. If you have disabled cookies from within your browser, or if you are running third-party software that intercepts or deletes cookies, you may not be able to visit certain areas of the Site/Services.
  </p>

  <h3>Trademarks</h3>
  <p>The Site/Services may use various trademarks, service marks, brand names, trade names and logos of Ziero and of other third parties. All of these trademarks, service marks, brand names, trade names and logos are the property of their respective owners.
    You agree not to use or display any of them in any manner without the prior written permission of the applicable owner.</p>

  <h3>Jurisdiction</h3>
  <p>Ziero is headquartered in the State of California of the United States. These Terms of Service and your use of the Site/Services will be governed by the laws of the State of California without regard to its conflicts of laws principles. The federal
    and state courts located in the State of California will be the exclusive jurisdiction for any action brought against Ziero in connection with these Terms of Service or the use of the Site/Services. You irrevocably consent to the jurisdiction of the
    federal and state courts located in the State of California, San Francisco County, and to the jurisdiction of the federal and state courts located in any State where you are located, for any action brought against you in connection with these Terms
    of Service or use of the Site/Services. If any material in the Site/Services, or your use of the Site/Services, is contrary to the laws of the place where you are when you access it, or if Ziero is not licensed as required by applicable laws or regulations
    in such locale, then the Site/Services is not intended for you, and we ask you not to use the Site/Services. You are responsible for informing yourself of, and complying with, the laws of your jurisdiction.
  </p>

  <h3>Miscellaneous</h3>
  <p>These Terms of Service contain the entire understanding of the parties with respect to the Site/Services and supersede any prior oral or written statements and documents with respect to such subject matter. Notwithstanding the foregoing, these Terms
    of Service do not supersede any written license agreement signed by both the parties. Your obligations under these Terms of Service are binding on your successors, legal representatives and assigns. You may not assign or transfer (by operation of
    law or otherwise) your right to use the Site/Services or any aspect hereunder, in whole or in part, without the prior written consent of Ziero. If any portion of these Terms of Service are held to be invalid, illegal or unenforceable, then that part
    will be deemed severed from these Terms of Service without invalidating the remaining provisions of these Terms of Service or affecting the enforceability of the remaining provisions. If a provision is held to be invalid, illegal or otherwise unenforceable,
    it will be deemed to be replaced with an enforceable provision that retains the intent and benefits of the original provision. No waiver by Ziero of any right under or term or provision of these Terms of Service will be deemed a waiver of any other
    right, term or provision of these Terms of Service at that time or a waiver of that or any other right, term or provision of these Terms of Service at any other time. Headings are for reference only. Should you have any questions concerning these
    Terms of Service, or if you desire to contact us for any reason, please contact us at info@zierofinance.com.
  </p>
</div>
